.lzy-radio {
  .u-radio__icon-wrap{
    border-color: #999!important;
  }
  .u-radio__icon-wrap--checked{
    .uicon-checkbox-mark:before {
      content: " ";
      display: inline-block;
      width: 16rpx;
      height: 16rpx;
      background: #39D5E3;
      border-radius: 50%;
    }
  }
  .u-radio{
    .u-radio__label{
      margin-left: 24rpx!important;
      margin-right: 70rpx!important;
    }
  }
}


.lzy-form .u-form-item{
  &.row-no-reverse{
    .u-form-item--left__content{
      flex-direction: row;
    }
  }
  .u-form-item--left__content {
    flex-direction: row-reverse;
    .u-form-item--left__content--required {
      position: relative!important;
      left: unset!important;
      flex: 1!important;
    }
    .u-form-item--left__content__label {
      margin-right: 20rpx;
      font-size: 32rpx;
      font-family: $font-semi;
      font-weight: 600;
      color: #333333;
      flex: unset!important;
      min-width: 70rpx;
    }
  }
}

.lzy-form-item{

}

.cell-group-placeholder{
  .u-border-bottom:after{
    content: "";
    border: none;
  }
}

.cell-placeholder.u-cell{
  font-size: 28upx!important;
  color: #CCC!important;
  padding: 0 16upx 0 0!important;
}

.cell-has-value{
  .u-cell_title{
    color: #333;
  }
}
